{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt_big with context  %}

{% block main %}

<ul class="listing clear">
{% for res in resource.node.walk_resources_sorted_by_time() %}
<li>
    {{ render_excerpt_big(res) }}
</li>
{% endfor %}
</ul>

{% endblock %}
